{
    "endpoint": {
        "address": "0.0.0.0",
        "port": "5683"
    },
    "resources": [
        {
            "name": "Example Resource 1",
            "path": "example/res1",
            "value": "12345",
            "observable": true,
            "maxage": 240,
            "logfile": "logs/res1.log",
            "methods": {
                "GET": {
                    "format": "STRING",
                    "print": true
                },
                "PUT": {
                    "format": "STRING",
                    "print": true,
                    "log": true,
                    "store": true
                },
                "PUSH": {
                    "format": "MSGPACK",
                    "print": true,
                    "log": true
                }
            }
        },
        {
            "name": "Example Resource 2",
            "path": "example/res2",
            "logfile": "logs/res2.log",
            "methods": {
                "PUT": {
                    "format": "HEX",
                    "print": true,
                    "log": true
                },
                "POST": {
                    "format": ["MSGPACK","HEX"],
                    "print": true,
                    "log": true
                }
            }
        },
        {
            "name": "Dynamic resource",
            "dynamic": true,
            "path": "dyn/(.*)/val([0-9]*)",
            "logfile": "logs/dynamic/$1/value-$2.log",
            "methods": {
                "PUT": {
                    "format": "STRING",
                    "print": true,
                    "log": true
                },
                "GET": {
                    "format": "STRING",
                    "print": true
                }
            }
        }
    ],
    "templates": [
        {
            "name":  "Exmaple Template",
            "ident": "example",
            "resources": [
                {
                    "name": "$1 Resource",
                    "path": "device/$2",
                    "logfile": "logs/$1.log",
                    "methods": {
                        "POST": {
                            "format": "$3",
                            "print":  true,
                            "log":    true
                        }
                    }
                }
            ],
            "args": [
                "Common Name",
                "Device ID"
            ]
        }
    ],
    "template-instances": [
        {
            "template": "example",
            "template-args": [ "test_device_1", "12345", "MSGPACK" ]
        },
        {
            "template": "example",
            "template-args": [ "test_device_2", "76543", "MSGPACK" ]
        }
    ]
}